body.menu-open {
  overflow: hidden;
  .menu {
    opacity: 1;
    top: 0;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide {
  min-width: 100%;
  flex-shrink: 0;
}
